{% extends 'base.html' %}

{% block content %}
<h1>Список картинок</h1>
{% for image in images %}
    <div>
        <a href="{% url 'image_detail' image.id %}">
            <img src="{{ image.preview.url }}" alt="{{ image.name }}">
            {{ image.name }}
        </a>
        <form action="{% url 'delete_image' image.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Видалити</button>
        </form>
    </div>
{% endfor %}
{% endblock %}