<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Currency rate</title>
</head>
<body>
  <h1>Курс валют нацбанку</h1>
  <ul>
    <li>USD: {{ exchange_rates.USD }}</li>
    <li>EUR: {{ exchange_rates.EUR }}</li>
    <li>GBP: {{ exchange_rates.GBP }}</li>
  </ul>
</body>
</html>